<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title id="errorPage">Error</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-50 p-3" style="background-color: #eeeeee; margin-top: 5em;">
    <center><h2 class="display-4 center">Oops, Something went wrong!</h2></center>
    <center><h2 class="display-4 justify-content-center">Our Engineers are on it</h2></center>
    <center><a class="display-4 justify-content-center" th:href="@{/home}">Go Home</a></center>
</div>
</body>
</html>