<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
</head>
<body>
<!--  Display the retrieved notes -->
<div class="table-responsive">
    <table class="table table-striped" id="fileTable">
        <thead>
        <tr>
            <th style="width: 20%" scope="col"></th>
            <th style="width: 80%" scope="col">File Name</th>
            <th style="width: 80%" scope="col">Timestamp</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="msg : ${list_of_stored_notes}">
            <tr>
                <td class="d-inline-flex">
                    <a target="_blank" class="btn btn-success mb-2 mr-2">View</a></td>
                <td th:text="${msg.getNotetitle()}" scope="row" class="font-weight-bold">...</td>
                <td th:text="${msg.getNotedescription()}" scope="row">...</td>
            </tr>
        </tbody>
        </th:block>
    </table>
</div>
</body>
</html>

